// Colours
$color__site--background: #fff;
$color__site--heading: #333;
$color__site--body: darken($color__site--heading, 10%);
$color__feature--background: darken($color__site--background, 5%);
$color__site--captions: lighten($color__site--heading, 50%);
$color__site--link: #2c6546;
$color__site--link--hover: lighten($color__site--link, 30%);
$color__site--link--current: desaturate($color__site--link, 100%);
$color__site--accent: #ACE1AF;
